{% extends "dashboard.html" %}

{% block title %}HS300 List{% end %}


{% block MainPanel %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">沪深300成分股</h1>

          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 placeholder">
              <div id="chartArea" style="margin-left:auto; margin-right: auto; width: 60%; min_width: 600px; height: 300px;"></div>
            </div>
          </div>

          <h2 class="sub-header">详细列表</h2>
          <div class="table-responsive" id="tableDiv">
            <table class="table table-striped" id="hs300">
              <thead>
                <tr>
                  <th>股票代码</th>
                  <th>股票名称</th>
                  <th>权重</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
{% end %}

{% block customizedJS %}
    <script type="text/javascript" src="/static/js/customized/hs300.js"></script>
{% end %}