<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ben's Universe</title>

    <!-- Bootstrap -->
    <link href="{{static_url("css/bootstrap.min.css")}}" rel="stylesheet">

</head>
<body>
	<!-- top-nav -->
	<div class="top-nav">
		<div class="container">
			<div class="navbar-header logo">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					Menu
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="menu">
					<ul class="nav navbar">
						<li><a href="index.html" class="w3ls-hover"><span data-letters="Home">Home</span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#about" class="w3ls-hover"><span data-letters="About">Blog </span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#skill" class="w3ls-hover"><span data-letters="Skills">Studio </span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#experience" class="w3ls-hover"><span data-letters="Experience">Stock </span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#education" class="w3ls-hover"><span data-letters="Education">Bookmarks </span></a></li>
						<li><a class="w3ls-icon" href="#"><span class="glyphicon glyphicon-save"></span></a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //top-nav -->

	<!-- banner -->
	<div class="video" data-vide-bg="img/bristol">
		<div class="container">
			<div class="banner-text agileinfo-text">
				<h1>How are your?</h1>
			</div>
		</div>
	</div>
	<script src="js/jquery.vide.min.js"></script>
	<!-- //banner -->

    	<!-- footer -->
	<div class="footer">
		<div class="container">
			<p>Copyright & copy; 2016</p>
		</div>
	</div>
	<!-- //footer -->
      <script src="{{static_url("js/jquery-1.12.4.min.js")}}"></script>
      <script src="{{static_url("js/bootstrap.min.js")}}"></script>
</body>
</html>