<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Stock Info</title>
</head>
<body style="height: 100%; margin: 0">
    <div id="mapContainer" style="height: 100%"></div>
    <script type="text/javascript" src="{{static_url('js/jquery-1.12.4.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/echarts/echarts.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/echarts/theme/vintage.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/echarts/china.js')}}"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="{{static_url('js/stocklist.js')}}"></script>
</body>
</html>