{% extends "dashboard.html" %}

{% block title %}Stock List{% end %}

{% block MainPanel %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">股票列表</h1>

          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 placeholder">
              <div id="mapContainer" style="margin-left:auto; margin-right: auto; width: 100%; min-width: 600px; min-height: 600px;"></div>
            </div>
          </div>

          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 placeholder">
              <div id="industryChart" style="margin-left:auto; margin-right: auto; width: 100%; min-width: 600px; min-height: 600px;"></div>
            </div>
          </div>

          <h2 class="sub-header" id="tableName">全部列表</h2>
          <div class="table-responsive" id="tableDiv">
            <table class="table table-striped" id="stockListTable">
              <thead>
                <tr>
                  <th>股票代码</th>
                  <th>股票名称</th>
                  <th>行业</th>
                  <th>地区</th>
                  <th>上市日期</th>
                  <th>市盈率</th>
                  <th>流通股本(亿)</th>
                  <th>总股本(亿)</th>
                  <th>总资产(万元)</th>
                  <th>流动资产</th>
                  <th>每股收益</th>
                  <th>每股净资</th>
                  <th>市净率</th>
                  <th>未分利润</th>
                  <th>收入同比增长(%)</th>
                  <th>利润同比增长(%)</th>
                  <th>毛利率(%)</th>
                  <th>净利润率(%)</th>
                  <th>股东人数</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
{% end %}

{% block customizedJS %}
    <script type="text/javascript" src="/static/js/echarts/theme/vintage.js"></script>
    <script type="text/javascript" src="/static/js/echarts/china.js"></script>
    <script type="text/javascript" src="/static/js/customized/stocklist_new.js"></script>
{% end %}