{% extends "dashboard.html" %}

{% block title %}Stock List{% end %}

{% block MainPanel %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Stock List</h1>

          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 placeholder">
              <div id="mapContainer" style="margin-left:auto; margin-right: auto; width: 100%; min-width: 600px; min-height: 600px;"></div>
            </div>
          </div>

          <h2 class="sub-header" id="tableName">Detail List</h2>
          <div class="table-responsive" id="tableDiv">
            <table class="table table-striped" id="stockListTable">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Industry
                  </th>
                  <th>
                      Area
                  </th>
                  <th>
                      PE
                  </th>
                  <th>
                      Outstanding
                  </th>
                  <th>
                      Totals
                  </th>
                  <th>
                      TotalAssets
                  </th>
                  <th>
                      LiquidAssets
                  </th>
                  <th>
                      ESP
                  </th>
                  <th>
                      BVPS
                  </th>
                  <th>
                      TimeToMarket
                  </th>
                  <th>
                      Holders
                  </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
{% end %}

{% block customizedJS %}
    <script type="text/javascript" src="/static/js/echarts/theme/vintage.js"></script>
    <script type="text/javascript" src="/static/js/echarts/china.js"></script>
    <script type="text/javascript" src="/static/js/customized/stocklist.js"></script>
{% end %}